@import "./_vars.scss";

.bgYellow{
  background-color: $yellow1;
}

.fontBlack{
  color: $gray1;
}

.fontWhite{
  color: $white1;
}

.pad8{
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.width100{
  width: 100px;
}

.radius15{
  border-radius: 15px;
}